@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>


    <div class="main">
        <div>
            <a asp-controller="User" asp-action="Register">Регистрация</a>
            <a asp-controller="User" asp-action="RegisterPart2">Register</a>
        </div>
        блок авторизации
    </div>
 </div>